# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Typescript artifacts
dist

# nyc artifacts
coverage/
.nyc_output/

# Thrift test artifacts
./src/tests/integration/thrift