# Logs
logs
*.log
npm-debug.log*

# Useless files
test.js

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Typescript artifacts
dist

# nyc artifacts
coverage/
.nyc_output/

# Thrift test artifacts
src/tests/integration/apache/codegen
src/tests/integration/thrift-server/codegen
